* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
}

main nav {
    width: 480px;
    background-color: #cdcdcd;
    padding-right: 80px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

main article {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 68px;
}


nav .one {
    align-self: flex-end;
    padding-top: 10px;
}

nav .two {
    color: #fff;
    align-self: flex-end;
    font-size: 26px;
    text-align: right;
}

nav .three {
    align-self: flex-end;
    padding-bottom: 60px;
}

article .one {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

article .one .right {
    padding-right: 68px;
}

article .one .right select {
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    padding: 8px 16px;
}

article .one .left {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .two, article .two .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article .two {
    padding-top: 10px;
}

article .two img {
    max-width: 100%;
}

article .two .content {
    overflow-y: auto;
    height: calc(100vh - 45px);
    padding-top: 40px;
    padding-right: 20px;
}

article .two .top .inside1 h1 {
    font-size: 36px;
}

article .two .top .inside2 {
    display: flex;
    flex-direction: column;
}

article .two .top .inside2 label {
    font-size: 16px;
    padding: 8px 16px;
}

article .two .top .inside2 select {
    width: 600px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    padding: 8px 16px;
}

article .two .bottom button {
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    color: #333333;
    padding: 6px 20px;
    font-size: 16px;
}

article .two .content .list-group li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    padding: 14px 0 4px;
}

article .two .content h1 {
    padding-bottom: 20px;
}

article .two .content p {
    line-height: 30px;
}

article .two .content a {
    text-decoration: none;
}

article .two .content strong:not(:first-of-type) {
    display: block;
    padding: 20px 0 4px;
}

article .two .content img {
    max-width: 100%;
    display: block;
    padding: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

table td {
    border-top: solid 1px #ddd;
    padding: 10px 4px;
}

table td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: solid 1px #ddd;
}

.inner-table {
    border: none;
}

.inner-table tr:first-child td {
    border-top: none;
}

.inner-table tr:last-child td {
    border-bottom: none;
}

.pointer {
    cursor: pointer;
}

.vd {
    display: inherit;
    flex: 1;
}

.mt-3 {
    margin-top: 20px;
}

.mt-6 {
    margin-top: 60px;
}
