* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    height: 100vh;
}

main nav {
    width: 400px;
    background-color: #cdcdcd;
    padding-right: 80px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

main article {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 68px;
}

.inline-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
}

.inline-box .first {
    width: 50%;
}

.inline-box .second {
    flex: 1;
}

.hrb {
    border-bottom: 1px solid #F6F6F6;
}

.hrtb {
    border-top: 1px solid #F6F6F6;
}

nav .one {
    align-self: flex-end;
    padding-top: 10px;
}

nav .two {
    color: #fff;
    align-self: flex-end;
    font-size: 26px;
    text-align: right;
}

nav .three {
    align-self: flex-end;
    padding-bottom: 60px;
}

article .one {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

article .one .right {
    padding-right: 68px;
}

article .one .right select {
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    padding: 8px 16px;
}

article .twox {
    overflow: hidden;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

article .wrap {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}

.box3 {
    padding-bottom: 20px;
}

article .one .left {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .two, article .two .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article .two {
    padding-top: 30px;
    overflow: hidden;
}

article .twoxxx {
    padding-top: 30px;
    overflow: hidden;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

article .twoxx {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

article .two .content {
    overflow-y: auto;
    padding-right: 20px;
    padding-bottom: 20px;
}

article .two .top .inside1 h1 {
    font-size: 36px;
    text-align: unset;
}

article .two .top .inside2 {
    display: flex;
    flex-direction: column;
}

article .two .top .inside2 label {
    font-size: 16px;
    padding: 8px 16px;
}

article .two .top .inside2 select {
    width: 600px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    padding: 8px 16px;
}

article .two .bottom button {
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    color: #333333;
    padding: 6px 20px;
    font-size: 16px;
}


article .two .content .box {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

article .two .content .box .er {
    height: 100%;
    display: flex;
}

article .two .content .box .list-group li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    padding: 14px 0 4px;
}

article h1 {
    padding-bottom: 20px;
    text-align: center;
}

article .two .content .box p {
    line-height: 30px;
    text-indent: 2em;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

article .two .content .box a {
    text-decoration: none;
}

article .two .content .box strong:not(:first-of-type) {
    display: block;
    padding: 20px 0 4px;
}

article .two .content .box img {
    max-width: 100%;
    display: block;
    padding: 30px 0;
    margin: 0 auto;
    align-self: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

table td {
    border-top: solid 1px #ddd;
    height: 40px;
    text-indent: 2em;
}

table td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: solid 1px #ddd;
}

.inner-table {
    border: none;
}

.inner-table tr:first-child td {
    border-top: none;
}

.inner-table tr:last-child td {
    border-bottom: none;
}

.pointer {
    cursor: pointer;
}

.vd {
    display: inherit;
    flex: 1;
}

.mt-3 {
    margin-top: 20px;
}

.mt-6 {
    margin-top: 60px;
}

.box4 {
    height: 100%;
    display: flex;
    align-items: center;
}

.box5 {
    margin: 0 auto;
    width: 800px;
}

.box1 p, .box5 p, .box6 p {
    line-height: 30px;
}

.text-center {
    text-align: center;
}
